<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOperaciones2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62821/Operaciones2.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOperaciones2" contract="ServicioOperaciones.IOperaciones2"
                name="BasicHttpBinding_IOperaciones2" />
        </client>
    </system.serviceModel>
</configuration>